apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: infrastructure
  labels:
    app: registry
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
    protocol: TCP
    name: http
  selector:
    app: registry
