apiVersion: v1
kind: Service
metadata:
  name: hello-world
  namespace: services
  labels:
    app: hello-world
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: hello-world
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-external
  namespace: services
  labels:
    app: hello-world
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30300
    protocol: TCP
    name: http
  selector:
    app: hello-world
